* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(126, 123, 123);
}

.h-nav-container {
    background-color: #916e0f!important;
    width: 100vw;
    min-height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 50px;
}

.h-nav-container li {
    list-style-type: none !important;
}

.h-nav-container a {
    text-decoration: none !important;
}

/* main menu */

.main-menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 10px;
    max-width: 968px;
}

.main-menu-item {
    padding: 5px 10px 5px 5px;
    position: relative;
    cursor: pointer;
}

.main-menu-header-container {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 17px;
    color: #fff;
    position: relative;
    padding-bottom: 5px;
}



.main-menu-header-container{
    white-space: nowrap;
}

.main-menu-border-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #fff;
    opacity: 0;

    width: 0;
    transition: 0.3s ease-in-out;
}

.main-menu-header-container .material-symbols-outlined {
    margin-left: 8px;
    transition: 0.3s ease-in-out;
}

.main-menu-submenu-container {
    position: absolute;
    top: calc(100% + 0px);
    left: 0;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
    z-index: 2;
}

.main-menu-item:hover .main-menu-header-container .main-menu-border-bottom {
    width: 100%;
    opacity: 1;
}

.main-menu-item:hover .main-menu-header-container .material-symbols-outlined {
    transform: rotate(180deg);
}

.main-menu-item:hover .main-menu-submenu-container {
    visibility: visible;
    opacity: 1;
}

/* main-submenu */

.main-submenu-item {
    padding: 15px 20px 15px 10px;
    position: relative;
    min-height: 60px;
    display: flex;
    align-items: center;
}

.main-submenu-header-container {
    color: #000000;
}

.main-submenu-header-container {
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.main-submenu-header-container .material-symbols-outlined {
    margin-left: 7px;
    transform: rotate(270deg);
    transition: 0.3s ease-in-out;
}

.main-submenu-item:hover {
    background-color: #c4c4c4;
}

.submenu-container {
    position: absolute; 
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
}

/* submenus */

.submenu-item {
    min-height: 60px;
    display: flex;
    align-items: center;
    padding: 15px 20px 15px 10px;
    max-width: 250px;
    min-width: 200px;
    position: relative;

}

.submenu-item:hover {
    background-color: #c4c4c4;
}

.submenu-header-container {
    color: #000;
    white-space: normal;

    display: flex;
    align-items: center;
    justify-content: center;
}

.submenu-header-container .material-symbols-outlined {
    margin-left: 7px;
    transform: rotate(270deg);
    transition: 0.3s ease-in-out;
}

/* left submenu */

.with-submenu-left .submenu-container {
    right: 105%;
}


/* right submenu */

.with-submenu-right .submenu-container {
    left: 105%;
}